# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/node-install
.idea/
**/.idea/

# production
/dist
dist

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
